#topnav {
    background: #ffffff;
    -webkit-box-shadow: 0 0 3px rgb(60 72 88 / 15%);
    box-shadow: 0 0 3px rgb(60 72 88 / 15%);
}

#topnav .logo {
    float: none;
    line-height: normal;
    padding: 0px;
}

#topnav .navigation-menu {
    display: block;
}

#topnav .navigation-menu > li > a {
    text-transform: capitalize;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#topnav .navigation-menu .has-submenu .menu-arrow {
    top: 10px;
}

#topnav .location {
    display: inline-block;
    color: #3c4858;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Nunito", sans-serif;
}

#topnav .location svg {
    width: 15px;
    height: 15px;
}

.top-nav > ul {
    padding: 0px;
    margin: 0px;
}

.top-nav > ul > li {
    display: inline-block;
    list-style: none;
}

.top-nav > ul > li > a {
    display: inline-block;
    color: #3c4858;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: capitalize;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Nunito", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.section {
    padding: 120px 0;
    position: relative;
}


@media (min-width: 992px) {
    #topnav .navigation-menu > .has-submenu:hover .menu-arrow {
        top: 15px !important;
    }
}

@media (max-width: 991px) {
    #navigation {
        top: 0px;
    }
}

@media (max-width: 576px) {
    #topnav .menu-extras {
        float: none;
    }
}
